.editor {
    display: none;
}


.inputTxt {
    width: 445px;
    height: 57px;
    border-width: 1px;
    border-radius: 28px;
    background-color: #ebeef3f5;
    font-family: poppins-light;
    color: #050505;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.line-ctrl-btn {
    border-width: 1px;
    width: 57px;
    height: 53px;
    border-radius: 10px;
    font-family: poppins-light;
    background-color: #ebeef3;
    font-size: xx-large;
}

.font-btn {
    width: 56px;
    height: 51px;
    font-family: poppins-medium;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    border-width: 1px;
    box-shadow:  5px 0 rgb(92 92 92 / 28%), inset 0 1px 0 rgb(255 255 255 / 58%);
    background-color: #ffffff;
}


.switch-focus-line-btn {
    box-shadow: 1px 5px 0 #048b97, 0;
    background-color: #0c98bb;
    background-image: url(./img/switch-focus-line.svg);
}

.add-line-btn {
    box-shadow: 1px 5px 0 #015d33, 0;
    background-color: #37b34a;
    background-image: url(./img/plus.svg);
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    width: 200px;
    height: 173px;
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid #234985;
    background-color: white;
    border-radius: 30px;
    border: 2px solid #22252c;
}

.canvas-container {
    flex-basis: 50%;
    height: 546px;

    /* margin: 0 auto; */
}

.canvas-ctrl {
    /* flex-basis: 45%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 500px;
    border-radius: 20px;
    background-color: #3e4b68fa;
    padding: 40px;
    padding-top: 60px;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    align-content: center;
}

div.canvas-ctrl>* {
    margin-bottom: 25px;
}


.line-ctrl {
    margin-bottom: 25px;
    text-align: center;
    justify-content: center;
}

.stickers {
    width: 445px;
    height: 60px;
    border-radius: 45px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 1em;
    font-family: poppins-medium;
}

.meme-ctrl {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.meme-ctrl-btn {
    width: 130px;
    height: 51px;
    border-radius: 15px;
    background-color: #1e7cd3;
    font-family: poppins-light;
    color: white;
    font-size: 1.1em;
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 10px;
    background-position-y: center;
}

.share-btn {
    background-color:#5a85dd;
    background-image: url(./img/share-nodes-solid.svg);

}
.download-btn {
    background-color: rgba(197, 100, 163, 0.673);
    background-image: url(./img/download.svg);
    width:160px;
}
.save-btn {
    background-color: #bba10f;
    background-image: url(./img/save.svg);
}

a {
    text-decoration: none;
    color: inherit;
}

.plus {
    color: white;
}

.delete-line-btn {
    background-image: url(./img/trash.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: center;
    vertical-align: bottom;
    background-color: red;
}

.font-alignment,
.font-style {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.font-style {
    margin-bottom: 5px;
}

.font-alignment{
    margin-bottom: 15px;
}

label{
    display: none;
}
.font-design {
    background-color: #048b97;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}

.font-align-btn,
.font-underline,
.switch-line-btn,
.move-up-btn,
.move-down-btn,
.switch-focus-line-btn,
.color-pick,
.add-line-btn {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: center;
    vertical-align: bottom;
}

.align-center {
    background-image: url(./img/align-center-solid.svg);
}

.align-left {
    background-image: url(./img/align-left-solid.svg);

}

.align-right {
    background-image: url(./img/align-right-solid.svg);

}

.font-underline {
    background-image: url(./img/underline-solid.svg);
}

.color-pick {
    background-image: url(./img/color-palette.svg);
    position: block;
    margin-left: 20px;
    padding:20px;
    background-size: 70%;
}

.font-select {
    font-family: poppins-medium;
    font-size: 1.5em;
    width: 250px;
    height: 50px;
    box-shadow: 1px 5px 0 #5c5c5c5e, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-right:20px
}

@media (max-width: 940px) {
    .editor {
        flex-direction: column;
    }

    .canvas-ctrl {

        width: 500px;
        padding: 10px;
        margin: auto;
    }

    .canvas-container {
        margin-bottom: 20px;
        margin-top: 100px;
    }
}

@media (min-width: 940px) {
    .gallery {}
}

/* .switch-line-btn {
    box-shadow: 1px 5px 0 #602a62, 0;
    background-color: #602a62;
    background-image: url(./img/switch-line.svg);
} */

/* .move-up-btn,
.move-down-btn {
    box-shadow: 1px 5px 0 #daeb92, 0;
    width: 40px;
    background-color: #c164ad;
}

.move-up-btn {
    background-image: url(./img/arrow-up.svg);
}

.move-down-btn {
    background-image: url(./img/arrow-down.svg);
} */